div {
    text-align: justify;
    margin: 2% 25%;
    padding: 10px;
    border: 5px dotted white;
    border-radius: 25px;
    
}
html {
    background-color: #86D98E;
}
body {
    text-align: center;
}

a {
    padding: 10px;
    border-radius: 20px;
    color:black;
}

a:hover {
        
    background-color: white;
    }
div:hover {
    background-color: #A4DBA9;
}
span {
    font-weight: bold;
}

.lista {
    line-height: 3em;
    text-align: left;
}

img {
    display: block;
    margin: auto;
    border-radius: 20px;
}
